<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>叶喽喽的简历</title>
	<link rel="stylesheet" href="../css/main.css">
	<link rel="stylesheet" type="text/css" href="../css/loading.css">
	<script src="../js/jquery-2.1.0.min.js"></script>
	<script>
		var waitTimer=setInterval(function () {
			if(document.readyState=="complete"||document.readyState=="interactive"){
				$(".mask").animate({
					opacity:0
				},"slow",function () {
					$(".mask").remove();
				})
				clearInterval(waitTimer);
			}
		},1000);
	</script>
</head>
<body>
	<div class="mask">
		<div id="loading">
		  <span>LOADING</span>
		</div>		
	</div>
	<div class="container">
		<div class="item scene-1">
			<div class="wrap">
				<span class="logo">
					<div style="height:100px"></div>
					简<br>历
				</span>
				<p class="front-road">
					前端之路
				</p>
				<span class="scroll-down"></span>
				<div class="road-box">
					<ul class="inline road-process">
						<li>
							<span class="road1"></span>
						</li>
						<li>
							<div class="road-connect"></div>
							<span class="road2"></span>
						</li>
						<li>
							<div class="road-connect"></div>
							<span class="road3"></span>
						</li>
						<li>
							<div class="road-connect"></div>
							<span class="road4"></span>
						</li>
						<li>
							<div class="road-connect"></div>
							<span class="road5"></span>
						</li>
						<li>
							<div class="road-connect"></div>
							<span class="road6"></span>
						</li>
						<li>
							<div class="road-connect"></div>
							<span class="road7"></span>
						</li>
						<li>
							<div class="road-connect"></div>
							<span class="road8"></span>
						</li>
						<li>
							<div class="road-connect"></div>
							<span class="road9"></span>
						</li>
					</ul>
					<div class="me"></div>
				</div>
				<div class="backBox">
					<div class="buildings-row-far"></div>
				</div>
			</div>
		</div>
		<div class="item scene-2">
			<div class="wrap">
				<div class="ability-box">
					<div class="circle javascript">Javascript</div>
					<div class="circle css">CSS/CSS3</div>
					<div class="circle html">HTML/HTML5</div>
					<div class="circle framework">
						Jquery<br>Seajs等库
					</div>
					<div class="circle net">.NET</div>
					<div class="circle c">C#</div>
					<div class="circle sqlserver">
						SQL<br>Server
					</div>
					<div class="circle ps">PS</div>
					<div class="circle handsome">长得帅</div>
				</div>
				<h2 class="item-header">技能<span>还没有一个是能精通的，想哭</span></h2>
			</div>
			<div class="slide-bg"></div>
		</div>
		<div class="item scene-3">
			<div class="wrap">
				<h2 class="item-header">作品</h2>
				<p class="description">有些是帮着老师做的网站，其他则是自己想做的小东西</p>
				<div class="show-box">
					<div class="show-box-inner">
						<ul class="inline works">
							<li>
								<a href="">
									<img src="../image/works1.jpg" alt="">
									<p>有奖啊</p>
								</a>
							</li>
							<li>
								<a href="">
									<img src="../image/works1.jpg" alt="">
									<p>质量检验网站</p>
								</a>
							</li>
							<li>
								<a href="">
									<img src="../image/works1.jpg" alt="">
									<p>上虞研究院网站</p>
								</a>
							</li>
							<li>
								<a href="">
									<img src="../image/works1.jpg" alt="">
									<p>抢课插件</p>
								</a>
							</li>
							<li>
								<a href="">
									<img src="../image/works1.jpg" alt="">
									<p>html5游戏-闪客快打</p>
								</a>
							</li>
						</ul>
					</div> <i class="show-prev"><img src="../image/prev.png" alt=""></i> <i class="show-next"><img src="../image/next.png" alt=""></i>
				</div>
			</div>
			<div class="slide-bg"></div>
		</div>
		<div class="item scene-4">
			<div class="wrap">
				<div class="orther">
					<h2 class="item-header">关于其他</h2>
					<p>
						今年大三，这学期因为课比较少，所以想出来实习下，找一份前端方面的工作锻炼锻炼。虽然之前暑期已经实习过一次，但做的还是比较浅显的事情，所以！又要出来实习我还是很紧张啊啊啊！！！
					</p>
					<p style="margin-top:10px;">热爱前端，好好学习，天天向上！</p>
					<div class="info">
						<table>
							<tbody>
								<tr>
									<td  align="right">时间：</td>
									<td>3-5月,每周4天（包括周六，日）</td>
								</tr>
								<tr>
									<td  align="right">工资：</td>
									<td>面议噢</td>
								</tr>
								<tr height="6"></tr>
								<tr>
									<td align="right" style="text-indent:2em;">手机：</td>
									<td>13777404213</td>
								</tr>
								<tr>
									<td align="right">QQ：</td>
									<td>932241741</td>
								</tr>
								<tr>
									<td align="right">邮箱：</td>
									<td>m13777404213@163.com</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="contact">
					<div class="blog-box">
						<p>博客：</p>
						<ul class="inline blog">
							<li>
								<a href="">
									<img src="../image/csdn.png" alt="">
									<p>CSDN</p>
								</a>
							</li>
							<li>
								<a href="">
									<img src="../image/github.png" alt="">
									<p>GitHub</p>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="slide-bg"></div>
		</div>
	</div>
	<script>
		(function () {
			//通用函数
			var util={
				getCss:function (elem,cssName,selectorText) {
					var res="";
					if(window.getComputedStyle){
						var cssRule=window.getComputedStyle(elem,null);
						res=cssRule[cssName];
						if(res){
							return res;
						}
					}else if(window.getMatchedCSSRules){
						var cssRuleList=getMatchedCSSRules(elem);
						for (var i = 0; i < cssRuleList.length; i++) {
							var cssList=cssRuleList[i];//一条样式规则
							if(selectorText){
								if(selectorText==cssList.selectorText){
									return cssList.style[cssName];
								}
							}else{
								return cssList.style[cssName];
							}
						};
					}
				},
				extend:function (defObj,curObj) {
					var res={};
					for(var name in defObj){
						if(curObj.hasOwnProperty(name)){
							res[name]=curObj[name];
						}else{
							res[name]=defObj[name];
						}
					}
					return res;
				},
				sleep:function (numberMillis) { 
				   var now = new Date();
				   var exitTime = now.getTime() + numberMillis;  
				   while (true) { 
				       now = new Date(); 
				       if (now.getTime() > exitTime)    return;
				    }
				},
				getTxtShadow:function (num,color) {
					var value="";
					for (var i = 1; i < num; i++) {
						value+=i+"px "+i+"px 0px "+color;
						if(i!=num-1){
							value+=", ";
						}
					}
					return value;
				}
			}

			var slidePlugin=function () {
				var defOpt={
					leftTrigger:"",
					rightTrigger:"",
					triggerType:"click",
					parElem:"",
					showNum:3,
					tarElem:"",
					titCell: "", //鼠标触发对象
					duration:200,
					callback:function (){}
				};

				var tarElem=null,
					width=0,
					parElem=null,
					maxLeftNum=0,
					curLeftNum=0;

				function slide (opt) {
					var curOpt=util.extend(defOpt,opt);
					tarElem=$(curOpt.tarElem);
					if(!curOpt.leftTrigger||!tarElem) return;
					if(!curOpt.parElem){
						var ans=tarElem.parent;
						var wrap=document.createElement("div");
						wrap.className="slideBox";
						wrap.appendChild(tarElem);
						ans.appendChild(wrap);
						parElem=$(wrap);
					}else{
						parElem=$(curOpt.parElem)||null;
					}
					init(opt);
					bindTrigger(curOpt);
				}

				function init (opt) {
					var lis=$(opt.titCell);
					if(lis){
						var titWidth=lis[0].offsetWidth||null,
							titHeight=lis[0].offsetHeight||null;
						var marLeft=util.getCss(lis[0],"marginLeft");
						if(typeof titWidth =="number"){
							titWidth+=2*parseInt(marLeft);
							// tarElem.style.width=titWidth*lis.length+"px";
							tarElem.css({
								width:titWidth*lis.length
							});
							width=titWidth;
						}
						parElem.css({
							height:titHeight,
							overflow:"hidden",
							position:"relative"
						});
						maxLeftNum=(lis.length-opt.showNum)<0?0:lis.length-opt.showNum
					}
				}

				function bindTrigger (opt) {
					switch(opt.triggerType){
						case "mouseover":
							break;
						case "click":
						default:
							$(opt.leftTrigger).click(function (e) {
								handler(e||null,opt,"left");
							});
							$(opt.rightTrigger).click(function (e) {
								handler(e||null,opt,"right");
							});
					}
				}

				function handler (e,opt,direction) {
					var str="";
					if(direction=="left"&&curLeftNum>0){
						str="+="+width+"px"
						curLeftNum--;
					}else if(direction=="right"&&curLeftNum<maxLeftNum){
						str="-="+width+"px";
						curLeftNum++;
					}
					if(str){
						$(tarElem).animate({
							left:str
						},opt.duration,opt.callback);
					}
				}


				return {
					slide:slide
				};
			}();

			var App=function () {
				// 配置参数
				var CONFIG={
					ROAD_SPACING:140,
					ROAD_NUM:9-1,
					ME_SPACING:113,
					ME_NUM:6-1,
					PAGE_NUM:4
				};

				// 全局变量
				var winHeight=window.innerHeight,
					me=$(".me").get(0),
					isInScene1=true,
					isFinish=true,
					pageIndex=0,
					pageTagArr=[],
					container=$(".container").get(0),
					road=$(".road-process"),
					roadProcesses=road.children("li");


				function _init () {
					// 高度初始化
					var items=document.getElementsByClassName("item");
					var len=items.length;
					for (var i = 0; i < len; i++) {
						items[i].style.height=winHeight+"px";
						pageTagArr[i]=-i*winHeight;
					};

					// 事件绑定
					createEvent ();

					// 作品滚动
					slidePlugin.slide({
						leftTrigger:".show-prev",
						rightTrigger:".show-next",
						triggerType:"click",
						parElem:".show-box-inner",
						tarElem:".works",
						titCell: ".works li", 
						showNum:3,
						duration:600,
					});


					$(".front-road").css("text-shadow",util.getTxtShadow(14,"#D85C44"));
				}
				function createEvent () {
					$(".logo").click(function (e) {
						$(this).addClass("logo-anim");
						$(".scroll-down").hide();

						// 显示一个圆圈
						$(roadProcesses[0]).addClass("on");
						$(road).data("roadIndex",0);
						// 显示人物
						// setTimeout(function () {
							$(me).addClass("show-me-backBox");
							var bb=$(".backBox");
							bb.addClass("show-me-backBox");
							if(/WebKit/.test(navigator.userAgent)){
								bb.children("div").css("zoom","0.65");
							}
						// },200);
					});

					window.addEventListener("mousewheel",mousewheelHandler);
					window.addEventListener("DOMMouseScroll",mousewheelHandler);
				}
				// 滚轮事件处理程序
				function mousewheelHandler (e) {
					if(isFinish){
						isFinish=false;
						var detla=Math.max(-1,Math.min(1,e.wheelDelta||-e.detail));//-1:下滚	1：上滚
						if(isInScene1){
							var roadIndex=$(road).data("roadIndex");
							if(detla==-1&&roadIndex<8){
								roadIndex=parseInt(roadIndex)+1;
								$(roadProcesses[roadIndex]).addClass("on");
								$(road).data("roadIndex",roadIndex);
								walk(me,CONFIG.ROAD_SPACING);
							}else if(detla==-1&&roadIndex==8){
								$(me).css({
									backgroundImage:"url(../image/me2.png)"
								});
								$(".scroll-down").addClass("scroll-down2").show();
								isInScene1=false;
								isFinish=true;
							}else{
								isFinish=true;
							}
						}else{
							pageIndex+=detla==1?-1:1;
							if(pageIndex<0||pageIndex>CONFIG.PAGE_NUM-1){
								pageIndex-=detla==1?-1:1;
								isFinish=true;
								return;
							}
							pageScroll(pageIndex);
							if(pageIndex==1){
								setTimeout(function () {
									$(".ability-box").addClass("show-ability-box");
								},250);
							}else if(pageIndex==2){

							}else if(pageIndex==3){

							}
						}
					}
				}
				function walk (elem,vx) {
					var curPosiX=elem.style.left||util.getCss(elem,"left");
					curPosiX=parseInt(curPosiX);
					if(curPosiX>=(CONFIG.ROAD_NUM*CONFIG.ROAD_SPACING+62)){//50是padding
						return;
					}
					curPosiX+=vx;

					$(elem).animate({
						left:curPosiX
					},450,function () {
						if(elem.timer){
							clearTimeout(elem.timer);
							elem.timer=null;
							elem.style.backgroundPositionX=0+"px";
						}
						isFinish=true;
					});

					elem.timer=setInterval(function () {
						var backPosiX=elem.style.backgroundPositionX||util.getCss(elem,"backgroundPositionX");
						backPosiX=parseInt(backPosiX);
						if(backPosiX>-CONFIG.ME_SPACING*CONFIG.ME_NUM){
							backPosiX+=-CONFIG.ME_SPACING;//人物进行了缩放，不是原来的150宽了
							backPosiX=backPosiX>0?0:backPosiX;
						}else{
							backPosiX=0;
						}
						elem.style.backgroundPositionX=backPosiX+"px";
					},40);
				}
				function pageScroll (index,callback) {
					var val=pageTagArr[index];
					if(typeof callback !=="undefined"){
						$(container).animate({
							top:val
						},"501",callback);
					}else{
						$(container).animate({
							top:val
						},"501",function () {
							isFinish=true;
						});
					}
				}

				// 接口
				return {
					init:_init
				}
			}();

			
			App.init();
		})();
	</script>
</body>
</html>