<?xml version="1.0" encoding="utf-8"?>
<!-- 
    注意: 除了手动编辑此文件外，您还可以使用 
    Web 管理工具来配置应用程序的设置。可以使用 Visual Studio 中的
    “网站”->“Asp.Net 配置”选项。
    设置和注释的完整列表可以在
    machine.config.comments 中找到，该文件通常位于
      \Windows\Microsoft.Net\Framework\vx.x\Config 中 
-->
<configuration>
  
  <system.webServer><!--默认页面-->
    <defaultDocument>
      <files>
        <clear/>
        <add value="index.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  
  <connectionStrings>
    <add name="ActivityMDEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\ActivityMD.mdf;Integrated Security=True;User Instance=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="ActivityMDEntities1" connectionString="metadata=res://*/App_Code.ActivityModel.csdl|res://*/App_Code.ActivityModel.ssdl|res://*/App_Code.ActivityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\ActivityMD.mdf;Integrated Security=True;User Instance=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="ActivityMDEntities2" connectionString="metadata=res://*/App_Code.ActivityModel.csdl|res://*/App_Code.ActivityModel.ssdl|res://*/App_Code.ActivityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\ActivityMD.mdf;Integrated Security=True;User Instance=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="personImgDir" value="img/content/person/" />
    <add key="activityImgDir" value="img/content/activity/" />
    <add key="matchImgDir" value="img/content/match/" />
    <add key="selComNum" value="8" />
  </appSettings>
  <system.web>
    <!-- 
            设置 compilation debug="true" 可将调试符号插入到
            已编译的页面。由于这会
            影响性能，因此请仅在开发过程中将此值
            设置为 true。
        -->
    <customErrors mode="RemoteOnly" defaultRedirect="~/AdminView/errors/500.html">
      <!--On　　　　　　  指定启用自定义错误。如果未指定 defaultRedirect，用户将看到一般性错误。
      Off　　　　　　  指定禁用自定义错误。这允许显示标准的详细错误。
      RemoteOnly　　指定仅向远程客户端显示自定义错误并且向本地主机显示 ASP.NET 错误。这是默认值。-->
      <error statusCode="403" redirect="~/AdminView/errors/403.html" />
      <error statusCode="404" redirect="~/AdminView/errors/404.html" />
      <error statusCode="500" redirect="~/AdminView/errors/500.html" />
      <error statusCode="503" redirect="~/AdminView/errors/503.html" />
    </customErrors>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
      </buildProviders>
    </compilation>
    <!--
            通过 <authentication> 节可以配置
            安全身份验证模式，ASP.NET 
            使用该模式来识别来访用户身份。 
        -->
    <authentication mode="Windows" />
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节
            可以配置相应的处理步骤。具体而言，
            开发人员通过该节可配置要显示的 html 错误页，
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <!-- 
        system.webServer 节是在 Internet Information Services 7.0 下运行 ASP.NET AJAX
        所必需的。对早期版本的 IIS 来说则不需要此节。
    -->
</configuration>