/*
* main.css
* border颜色为#dedede
* color: rgb(100, 100, 100);
*/
/*元素的默认样式*/
body,textarea,select,input,button{
  font-family: "Hiragino Sans GB","Microsoft YaHei","微软雅黑",tahoma,arial,simsun,"宋体";
  color: rgb(100, 100, 100);
  line-height: normal;
  outline: none;
}
body{
  background: #f0f0f0;
}
h1,h2,h3,h4,h5{
  font-family: "Hiragino Sans GB","Microsoft YaHei","微软雅黑",tahoma,arial,simsun,"宋体";
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
a,a:hover,a:visited,a:link{
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
  color: rgb(100, 100, 100);
}
a:hover{
  color: #7ABBFC;
}
p,span{
  margin: 0;
  padding:0;
  font-size: 12px;
}
blockquote {
  margin-bottom: 0px;
}
h2{
  font-size: 19px;
  font-weight: 500;
  margin: 0;
  line-height: normal;
  color: rgb(63,63,63);
}
h3{
  font-size: 17px;
  font-weight: 600;
  margin: 10px 0;
  line-height: normal;
}
h5{
  font-size: 15px;
  font-weight: 300;
  margin: 10px 0;
  line-height: normal;
}
/*功能模块*/
.launch .btn-launch{
  color: #fff;
  border: none;
  background-color: #ffa200;
  display: inline-block;
  padding: 7px 36px;
  font-size: 15px;
  line-height: 1.4;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 3px;
  margin: 5px auto;
}
.launch .wrap h5{
  margin: 5px auto 10px;
  color:#414243; 
}
.page-control{
  text-align: right;
}
.page-control a{
  display: inline-block;
  padding: 5px 8px;
  background-color: #fff;
  color: #a9a9a9;
  margin-left: 10px;
}
.page-control a:hover{
  background-color: #70ca10;
  color: #fff;
}
#header{
  margin-bottom: 20px;
}
#header .navbar{
  box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  margin: 0;
  background-color: #fff;
}
#header #navbar-inner{
  margin: 0 auto;
  border: 0;
  height: 52px;
}
@media (min-width: 768px) {
  #header #navbar-inner {
    width: 750px;
  }
}
@media (min-width: 992px) {
  #header #navbar-inner {
    width: 970px;
  }
}
@media(min-width: 1200px){
  #header #navbar-inner{
    width: 1024px;
  }
}
#header .nav .caret{
  margin-top: 24px;
}
#header #logo{
  padding: 0 20px;
  height: 50px;
  line-height: 50px;
  font-size: 26px;
  color: #FF8E1E;
}
#header .nav>li>a{
  font-size: 16px;
  padding: 0 15px;
  height: 50px;
  line-height: 50px;
}
#header .navbar-search{
  margin-top: 11px;
}
#header .navbar-search input{
  width: 160px;
  outline: 0px;
  padding-right: 25px;
  box-shadow: none;
}
#header .navbar-search .input-append{
  position: relative;
}
#header .navbar-search .input-append a.add-on{
  background-image: url(../img/demo/bootstrap-icons.png);
  background-position: -42px 7px;
  background-repeat: no-repeat;
  position: absolute;
  right: 3px;
  top: 1px;
  z-index: 1001;
  background-color: transparent;
  border: 0;
}
.wrap{
  box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  padding: 14px;
  background-color: #fff;
}
.content{
  position: relative;
  display: block;
}
.content:after, .content:before{
  display: block;
  content: "";
  height: 0;
}
.content:after{
  clear: both;
}
.left-side{
  /*position: absolute;*/
  left: 0px;
  margin: 14px auto;
}
.right-side{
  /*position: absolute;*/
  right: 0px;
  width: 300px;
  margin: 14px auto;
}
.main{
  margin: 0 auto;
  width: 1024px;
  min-height: 478px;
}
/*@media (min-width: 768px) {
  .main {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .main {
    width: 970px;
  }
}
@media(min-width: 1200px){
  .main{
    width: 1024px;
  }
}*/
.list-inline{
  list-style:none;
}
.list-inline>li{
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
.list-inline>li:first-child{
  padding-left: 0px;
}
.list-block{
  list-style:none;
  text-align: left;
}
.list-block >li{
  padding-left: 5px;
  padding-right: 5px;
}
.list-block >li>a{
  display: block;
  height:100%;
  width:100%;
}
.main .nav-title ul>li{
  padding: 6px 10px;
  background-color: #eee;
  font-weight: 600;
  margin-right: 12px;
}
.tab-content .web-tag li{
  background-color: rgb(247, 247, 247);
  padding: 2px 6px;
  margin-right: 8px;
  margin-bottom: 8px;
  border-radius: 2px;
}
.tab-content .web-tag li.active,.tab-content .web-tag li.active:hover{
  background-color: #ffa200;
}
.tab-content .web-tag li.active>a{
  color: #fff;
}
.tab-content .web-tag li:hover{
  background-color: #ECECEC;
}
.tab-content .web-tag li a{
  line-height: 1.6;
  font-size: 12px;
  color: #646567;
}
.left-side>div:first-child,.right-side>div:first-child{
  margin-bottom: 14px;
}
.left-side .activity>div:first-child{
  border: 0;
}
.content-card{
  width: 682px;
  border-top: 1px dashed #dedede;
}
.content-card:after,.content-card:before{
  display: block;
  height: 0;
  content: "";
}
.content-card:after{
  clear: both;
}
.content-card>div{
  height: 160px;
  overflow: hidden;
  position: relative;
}
.content-card>div:first-child{
  margin-right: 14px;
  float: left;
}
.content-card .card-img{
  width:220px;
  height:160px;
  border-radius:3px;
}
.right-side .content-card{
  width: 272px;
  overflow: hidden;
  padding-bottom: 10px;
  padding-top: 10px;
}
.content-card .card-info{
  line-height: 20px;
  height: 20px;
  /*margin-bottom: 6px;*/
  text-align: right;
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.content-card .card-info>div span{
  padding-right: 5px;
  color: #aaa;
}
.content-card .card-textintro p{
  margin: 10px auto 0;
  max-height: 120px;
  overflow: hidden;
  font-size: 13px;
}
.brand-header{
  height: 40px;
  background-color: #7DC0D5;
  line-height: 40px;
  color: #fff;
  font-weight: 700;
  margin: 0;
  font-size: 18px;
  padding-left: 14px;
  padding-right: 14px;
  border-radius: 2px;
}
.brand-header a{
  float: right;
  font-size: 14px;
  color: #fff;
  font-weight: normal;
}
.launch{
  text-align: center;
}
.adver .wrap{
  padding: 0;
}
.adver .wrap img{
  width: 300px;
  max-height: 220px;
  border-radius: 3px;
}
.footer{
  background-color: #333;
  text-align: center;
  padding-bottom: 15px;
  margin-top: 40px;
}
.footer ul li a:hover{
  color: #FFA54A
}
.footer ul li a{
  color: #A3A3A3;
  display: block;
  padding: 15px 20px 15px;
}
.footer p{
  color: #A3A3A3;
}
.navbar .nav .border-highlight{
  border-bottom: 2px solid #FF8E1E;
}
.progress{
  height: 17px;
  overflow: hidden;
  margin-bottom: 10px;
  border-radius: 1px;
  /*box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);*/
  background-color:#f5f5f5;
}
.progress-bar{
  height: 100%;
  width: 0%;
  font-size: 11.05px;
  color: #fff;
  text-align: center;
  background-color: #618fb0;
  /*box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);*/
}
.progress-bar-waring{
  background-color: #eac85e;
}
.progress-bar-danger{
  background-color: #e5603b;
}
.progress-bar-success{
  background-color: #56bc76;
}
.progress-bar-inverse{
  background-color: #D6487E;
}
.my-btn{
  color: rgb(100, 100, 100);
  border: none;
  background-color: rgb(247, 247, 247);
  display: inline-block;
  padding: 5px 8px;
  font-size: 15px;
  line-height: 1.4;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 3px;
  margin: 5px auto;
}
.input{
  display: inline-block;
  margin-bottom: 8px;
}
.input input,select{
  vertical-align: middle;
  margin-bottom: 5px;
}
/*-------------------特色功能----------------------*/
/*隐藏元素*/
.margin-bottom{
  margin-bottom: 14px!important;
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}