<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>叶喽喽的简历</title>
	<link rel="stylesheet" href="../css/main.css">
	<link rel="stylesheet" href="../css/main-responsive.css">
	<link rel="stylesheet" type="text/css" href="../css/loading.css">
	<script src="../js/libs/jquery-2.1.0.min.js"></script>
	<script src="../js/libs/sea.js" id="seajsnode"></script>
</head>
<body>
	<div class="mask">
		<div id="loading">
		  <span>LOADING</span>
		</div>		
	</div>
	<div class="container">
		<div class="item scene-1">
			<div class="wrap">
				<span class="logo">
					<div class="fix-height"></div>
					简<br>历
				</span>
				<p class="front-road">
					前端之路
				</p>
				<span class="scroll-down"></span>
				<div class="road-box">
					<div class="road-sm-mask">
						<ul class="inline road-process">
							<li>
								<span class="road1"></span>
							</li>
							<li>
								<div class="road-connect"></div>
								<span class="road2"></span>
							</li>
							<li>
								<div class="road-connect"></div>
								<span class="road3"></span>
							</li>
							<li>
								<div class="road-connect"></div>
								<span class="road4"></span>
							</li>
							<li>
								<div class="road-connect"></div>
								<span class="road5"></span>
							</li>
							<li>
								<div class="road-connect"></div>
								<span class="road6"></span>
							</li>
							<li>
								<div class="road-connect"></div>
								<span class="road7"></span>
							</li>
							<li>
								<div class="road-connect"></div>
								<span class="road8"></span>
							</li>
							<li>
								<div class="road-connect"></div>
								<span class="road9"></span>
							</li>
						</ul>
					</div>
					<div class="me"></div>
				</div>

				<img src="../image/prev.png" class="prev-img visible-xs" alt="">
				<img src="../image/next.png" class="next-img visible-xs" alt="">
			</div>
			<div class="backBox">
				<div class="buildings-row-far"></div>
			</div>
		</div>
		<div class="item scene-2">
			<div class="wrap">
				<div class="ability-box">
					<div class="circle javascript">Javascript</div>
					<div class="circle css">CSS/CSS3</div>
					<div class="circle html">HTML/HTML5</div>
					<div class="circle framework">
						Jquery<br>Seajs等库
					</div>
					<div class="circle net">.NET</div>
					<div class="circle c">C#</div>
					<div class="circle sqlserver">
						SQL<br>Server
					</div>
					<div class="circle ps">PS</div>
					<div class="circle handsome">长得帅</div>
				</div>
				<h2 class="item-header">技能<span>还没有一个是能精通的，想哭</span></h2>
			</div>
			<div class="slide-bg"></div>
		</div>
		<div class="item scene-3">
			<div class="wrap">
				<h2 class="item-header">作品</h2>
				<p class="description">有些是帮着老师做的网站，其他则是自己想做的小东西</p>
				<div class="show-box">
					<div class="show-box-inner">
						<ul class="inline works">
							<li>
								<a href="http://www.youjianga.com/index.aspx" target="_blank">
									<img src="../image/works3.png" alt="">
									<p>有奖啊</p>
								</a>
							</li>
							<li>
								<a href="http://zljk.zust.edu.cn/web/Index.aspx" target="_blank">
									<img src="../image/works2.png" alt="">
									<p>质量检验网站</p>
								</a>
							</li>
							<li>
								<a href="">
									<img src="../image/works1.jpg" alt="">
									<p>上虞研究院网站</p>
								</a>
							</li>
							<li>
								<a href="">
									<img src="../image/works1.jpg" alt="">
									<p>抢课插件</p>
								</a>
							</li>
							<li>
								<a href="">
									<img src="../image/works1.jpg" alt="">
									<p>html5游戏-闪客快打</p>
								</a>
							</li>
						</ul>
					</div> <i class="show-prev"><img src="../image/prev.png" alt=""></i> <i class="show-next"><img src="../image/next.png" alt=""></i>
				</div>
			</div>
			<div class="slide-bg"></div>
		</div>
		<div class="item scene-4">
			<div class="wrap">
				<div class="orther">
					<h2 class="item-header">关于其他</h2>
					<p>
						今年大三，这学期因为课比较少，所以想出来实习下，找一份前端方面的工作锻炼锻炼。虽然之前暑期已经实习过一次，但做的还是比较浅显的事情，所以！又要出来实习我还是很紧张啊啊啊！！！
					</p>
					<p style="margin-top:10px;">热爱前端，好好学习，天天向上！</p>
					<div class="info">
						<table>
							<tbody>
								<tr>
									<td  align="right">时间：</td>
									<td>3-5月,每周4天（包括周六，日）</td>
								</tr>
								<tr>
									<td  align="right">工资：</td>
									<td>面议噢</td>
								</tr>
								<tr height="6"></tr>
								<tr>
									<td align="right" style="text-indent:2em;">手机：</td>
									<td>13777404213</td>
								</tr>
								<tr>
									<td align="right">QQ：</td>
									<td>932241741</td>
								</tr>
								<tr>
									<td align="right">邮箱：</td>
									<td>m13777404213@163.com</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="contact">
					<div class="blog-box">
						<p>博客：</p>
						<ul class="inline blog">
							<li>
								<a href="http://blog.csdn.net/u012038144" target="_blank">
									<img src="../image/csdn.png" alt="">
									<p>CSDN</p>
								</a>
							</li>
							<li>
								<a href="https://github.com/yyzych" target="_blank">
									<img src="../image/github.png" alt="">
									<p>GitHub</p>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<a href="叶陈辉的简历.html" class="detail-resume" target="_blank">查看详细简历</a>
			</div>
			<div class="slide-bg"></div>
		</div>
	</div>
	<script src="../js/main.js"></script>
</body>
</html>