<!doctype html>
<html lang="en">
<head>
	<title>帮助</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- 告诉浏览器等设备，文件为html文件，且使用了utf8编码 -->
	<!-- http-equiv 属性: HTTP协议的响应头报文 -->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="shortcut icon" type="text/x-icon" href="../img/favicon/favicon.png">
	<!-- 苹果为iOS设备配备了apple-touch-icon私有属性，添加该属性，在iPhone,iPad,iTouch的safari浏览器上可以使用添加到主屏按钮将网站添加到主屏幕上，方便用户以后访问。 -->
	<link rel="apple-touch-icon" sizes="72x72" href="https://d3qg9zffrnl4ph.cloudfront.net/static/img/touch-icon-ipad.png">
	<link rel="apple-touch-icon" sizes="114x114" href="https://d3qg9zffrnl4ph.cloudfront.net/static/img/touch-icon-iphone-retina.png">
	<link rel="apple-touch-icon" sizes="144x144" href="https://d3qg9zffrnl4ph.cloudfront.net/static/img/touch-icon-ipad-retina.png">
	<link rel="apple-touch-icon" href="https://d3qg9zffrnl4ph.cloudfront.net/static/img/touch-icon-iphone.png">
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<!-- 注意我没有在页面中引入jquery文件。也是可以引入的 -->
	<script src="../js/com/jquery-2.1.1.js"></script>
	<link rel="stylesheet" href="../css/help.css">

	<script src="../js/com/sea.js"></script>
</head>
<body class="helpBody">
	<!-- float之后为什么有时发现a等标签会充满，是因为line-height继承了 -->
	<div class="container">
		<header>
			<div class="header-inner">
				<ul class="list-inline">
					<li class="visible-phone sidebar-list-dropdown">
						<a href="#" id="slideMenu"> <i class="sites-sprite sprite-list"></i>
						</a>
					</li>
					<li>
						<h5>帮助中心</h5>
					</li>
					<li>
						<a href="" class="user-guide">使用手册</a>
					</li>
				</ul>
				<div class="login-box">
					<a href="">登录</a>
				</div>
			</div>
		</header>
		<div class="screen-page">
			<div class="content">
				<!-- 注意：aside的定位不是fixed而是absolute，且是以body为准的，因为他的其他父级都没有设置定位过，同时body的高度又是定死了的（因为body有设置overflow：hidden。整个body的高度就是浏览器窗口的高度了） -->
				<aside class="slidebar">
					<div id="slidebar">
						<div class="btn-box" id="new-post">
							<a href="" class="btn">我要反馈</a>
						</div>
						<div class="list">
							<slidebar class="nav nav-list">
								<a class="active" href="/forum/category/99">所有帖子</a>
								<a href="/forum/category/98">Feedback</a>
								<a href="/forum/category/97">Announcement</a>
								<a href="/forum/category/96">Android</a>
								<a href="/forum/category/95">中文用户</a>
								<a href="/forum/category/94">我参与的话题</a>
								<a href="/forum/category/93">Chrome extension</a>
								<a href="/forum/category/92">FAQ</a>
								<a href="/forum/category/91">iOS</a>
							</slidebar>
						</div>
					</div>
				</aside>
				<section id="threads">
					<h4 class="subtab">所有帖子</h4>
					<div class="list-box">
						<ul class="item-list">
							<li class="item">
								<div class="item-header">
									<a href="">关于邮件转发功能，收到的邮件被转换成了。。。代码</a>
								</div>
								<p class="meta">
									<span class="CommentCount">16 条评论</span>
									<span class="LastCommentBy">最新评论来自 David Baginski (hobi...@....com)</span>
									<span class="user-type pro"> <i class="sites-sprite sprite-pro"></i>
									</span>
									<span class="DateCreated">
										2014-11-22 20:56
									</span>
								</p>
							</li>
							<li class="item">
								<div class="item-header">
									<a href="">关于邮件转发功能，收到的邮件被转换成了。。。代码</a>
								</div>
								<p class="meta">
									<span class="CommentCount">16 条评论</span>
									<span class="LastCommentBy">最新评论来自 David Baginski (hobi...@....com)</span>
									<span class="user-type pro"> <i class="sites-sprite sprite-pro"></i>
									</span>
									<span class="DateCreated">
										2014-11-22 20:56
									</span>
								</p>
							</li>
							<li class="item">
								<div class="item-header">
									<a href="">关于邮件转发功能，收到的邮件被转换成了。。。代码</a>
								</div>
								<p class="meta">
									<span class="CommentCount">16 条评论</span>
									<span class="LastCommentBy">最新评论来自 David Baginski (hobi...@....com)</span>
									<span class="user-type pro"> <i class="sites-sprite sprite-pro"></i>
									</span>
									<span class="DateCreated">
										2014-11-22 20:56
									</span>
								</p>
							</li>
							<li class="item">
								<div class="item-header">
									<a href="">关于邮件转发功能，收到的邮件被转换成了。。。代码</a>
								</div>
								<p class="meta">
									<span class="CommentCount">16 条评论</span>
									<span class="LastCommentBy">最新评论来自 David Baginski (hobi...@....com)</span>
									<span class="user-type pro"> <i class="sites-sprite sprite-pro"></i>
									</span>
									<span class="DateCreated">
										2014-11-22 20:56
									</span>
								</p>
							</li>
							<li class="item">
								<div class="item-header">
									<a href="">关于邮件转发功能，收到的邮件被转换成了。。。代码</a>
								</div>
								<p class="meta">
									<span class="CommentCount">16 条评论</span>
									<span class="LastCommentBy">最新评论来自 David Baginski (hobi...@....com)</span>
									<span class="user-type pro"> <i class="sites-sprite sprite-pro"></i>
									</span>
									<span class="DateCreated">
										2014-11-22 20:56
									</span>
								</p>
							</li>
							<li class="item">
								<div class="item-header">
									<a href="">关于邮件转发功能，收到的邮件被转换成了。。。代码</a>
								</div>
								<p class="meta">
									<span class="CommentCount">16 条评论</span>
									<span class="LastCommentBy">最新评论来自 David Baginski (hobi...@....com)</span>
									<span class="user-type pro"> <i class="sites-sprite sprite-pro"></i>
									</span>
									<span class="DateCreated">
										2014-11-22 20:56
									</span>
								</p>
							</li>
							<li class="item">
								<div class="item-header">
									<a href="">关于邮件转发功能，收到的邮件被转换成了。。。代码</a>
								</div>
								<p class="meta">
									<span class="CommentCount">16 条评论</span>
									<span class="LastCommentBy">最新评论来自 David Baginski (hobi...@....com)</span>
									<span class="user-type pro"> <i class="sites-sprite sprite-pro"></i>
									</span>
									<span class="DateCreated">
										2014-11-22 20:56
									</span>
								</p>
							</li>
							<li class="item">
								<div class="item-header">
									<a href="">关于邮件转发功能，收到的邮件被转换成了。。。代码</a>
								</div>
								<p class="meta">
									<span class="CommentCount">16 条评论</span>
									<span class="LastCommentBy">最新评论来自 David Baginski (hobi...@....com)</span>
									<span class="user-type pro"> <i class="sites-sprite sprite-pro"></i>
									</span>
									<span class="DateCreated">
										2014-11-22 20:56
									</span>
								</p>
							</li>
							<li class="item">
								<div class="item-header">
									<a href="">关于邮件转发功能，收到的邮件被转换成了。。。代码</a>
								</div>
								<p class="meta">
									<span class="CommentCount">16 条评论</span>
									<span class="LastCommentBy">最新评论来自 David Baginski (hobi...@....com)</span>
									<span class="user-type pro"> <i class="sites-sprite sprite-pro"></i>
									</span>
									<span class="DateCreated">
										2014-11-22 20:56
									</span>
								</p>
							</li>
							<li class="item">
								<div class="item-header">
									<a href="">关于邮件转发功能，收到的邮件被转换成了。。。代码</a>
								</div>
								<p class="meta">
									<span class="CommentCount">16 条评论</span>
									<span class="LastCommentBy">最新评论来自 David Baginski (hobi...@....com)</span>
									<span class="user-type pro"> <i class="sites-sprite sprite-pro"></i>
									</span>
									<span class="DateCreated">
										2014-11-22 20:56
									</span>
								</p>
							</li>
						</ul>
					</div>
					<div id="pagination">
						<span>下一页</span>
						<span>当前第1页，共133页</span>
					</div>
					<footer>
						<div class="footer-inner">
							<ul class="list-inline">
								<li><a href="">帮助</a></li>
								<li><a href="">博客</a></li>
								<li><a href="">升级到高级版</a></li>
								<li><a href="">联系我们</a></li>
								<li><a href="">隐私声明</a></li>
								<li><a href="">使用条款</a></li>
							</ul>
							<p>
								<span>@ 2014 叶二喽</span>
							</p>
						</div>
					</footer>
				</section>
			</div>
		</div>
	</div>
	<script>
		seajs.config({
			base:"file:///D:/叶陈辉/学习/专业/编程类/HTML和Javascript/敲敲敲/网站模仿/TickTick/我的/js/",
			alias:{
				'jquery':'browse/jquery/2.1.0/jquery'
			}
		});

		seajs.use("../js/browse/main.js",function (main) {
			console.log("main.js 加载成功");
		})
	</script>
	<!--[if lte IE 6]>
	<script type="text/javascript">
	var ie6_warning_msg1 = "你知道你的 Internet Explorer 浏览器已经过时了吗？";;
	var ie6_warning_msg2 = "建议你升级到较新的版本，或是改用其他的浏览器，以获得更好的使用体验。下面是一份目前广受欢迎的浏览器列表。";;
	var ie6_warning_msg3 = "只要点选图标，就可以连到各自的下载页面。";;
	</script>
	<script src="https://ticktick.com/static/build/misc/ie6/warning.js"></script>
	<script>window.onload=function(){e("/static/build/misc/ie6/")}</script>
	<![endif]-->
</body>
</html>