<!doctype html>
<html lang="en">
<head>
	<title>购买升级</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- 告诉浏览器等设备，文件为html文件，且使用了utf8编码 -->
	<!-- http-equiv 属性: HTTP协议的响应头报文 -->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="shortcut icon" type="text/x-icon" href="../img/favicon/favicon.png">
	<!-- 苹果为iOS设备配备了apple-touch-icon私有属性，添加该属性，在iPhone,iPad,iTouch的safari浏览器上可以使用添加到主屏按钮将网站添加到主屏幕上，方便用户以后访问。 -->
	<link rel="apple-touch-icon" sizes="72x72" href="https://d3qg9zffrnl4ph.cloudfront.net/static/img/touch-icon-ipad.png">
	<link rel="apple-touch-icon" sizes="114x114" href="https://d3qg9zffrnl4ph.cloudfront.net/static/img/touch-icon-iphone-retina.png">
	<link rel="apple-touch-icon" sizes="144x144" href="https://d3qg9zffrnl4ph.cloudfront.net/static/img/touch-icon-ipad-retina.png">
	<link rel="apple-touch-icon" href="https://d3qg9zffrnl4ph.cloudfront.net/static/img/touch-icon-iphone.png">
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<!-- 注意我没有在页面中引入jquery文件。也是可以引入的 -->
	<script src="../js/com/jquery-2.1.1.js"></script>
	<link rel="stylesheet" href="../css/upgrade.css">

	<script src="../js/com/sea.js"></script>
</head>
<body class="upgradebody">
	<!-- float之后为什么有时发现a等标签会充满，是因为line-height继承了 -->
	<div class="container">
		<header>
			<div class="header-inner">
				<div class="logo-box pull-left">
					<a href="">
						<i class="icon icon-logo"></i>
					</a>
					<span class="logo-title">购买升级</span>
				</div>
				<a href="" class="login-btn pull-right">登入</a>
			</div>
		</header>
		<div class="screen-page">
			<div class="table-content">
				<table>
					<thead>
						<tr>
							<th></th>
							<th class="general">免费版</th>
							<th class="pro">付费版</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								多平台
								<p class="sub-title">
									<a href="">Web</a>
									<a href="">Android</a>
									<a href="">IOS</a>
									<a href="">Chrome</a>
								</p>
							</td>
							<td>
								<i class="icon sprite-support"></i>
								支持
							</td>
							<td>
								<i class="icon sprite-support"></i>
								支持
							</td>
						</tr>
						<tr>
							<td>
								多平台
								<p class="sub-title">
									<a href="">Web</a>
									<a href="">Android</a>
									<a href="">IOS</a>
									<a href="">Chrome</a>
								</p>
							</td>
							<td>
								<i class="icon sprite-support"></i>
								支持
							</td>
							<td>
								<i class="icon sprite-support"></i>
								支持
							</td>
						</tr>
						<tr>
							<td>
								多平台
								<p class="sub-title">
									与同事、家人共享任务
								</p>
							</td>
							<td>
								<i class="icon sprite-support"></i>
								支持
							</td>
							<td>
								<i class="icon sprite-support"></i>
								支持
							</td>
						</tr>
						<tr>
							<td>
								多平台
								<p class="sub-title">
									与同事、家人共享任务
								</p>
							</td>
							<td class="bg-color power-tip">
								<i class="icon sprite-general"></i>
								<a href="" data-tipText="*你懂的<br>*曹碾诶附近路口等法律的塑料袋房顶上离开房间放得开">限制数量</a>
							</td>
							<td class="bg-color power-tip">
								<i class="icon sprite-general"></i>
								<a href="">支持</a>
							</td>
						</tr>
						<tr>
							<td>
								多平台
								<p class="sub-title">
									与同事、家人共享任务
								</p>
							</td>
							<td class="bg-color power-tip">
								<i class="icon sprite-general"></i>
								<a href="" data-tipText="*最多只能买19条<br>*你懂的">限制数量</a>
							</td>
							<td class="bg-color power-tip">
								<i class="icon sprite-general"></i>
								<a href="" data-tipText="*最多只能买19条<br>*你懂的">支持</a>
							</td>
						</tr>
						<tr>
							<td>
								多平台
								<p class="sub-title">
									与同事、家人共享任务
								</p>
							</td>
							<td class="bg-color power-tip">
								<i class="icon sprite-general"></i>
								<a href="" data-tipText="*你懂的">限制数量</a>
							</td>
							<td class="bg-color power-tip">
								<i class="icon sprite-general"></i>
								<a href="" data-tipText="*你懂的辅导费">支持</a>
							</td>
						</tr>
						<tr>
							<td>
								多平台
								<p class="sub-title">
									与同事、家人共享任务
								</p>
							</td>
							<td class="bg-color">
								<i class="icon sprite-unsupport"></i>
								支持
							</td>
							<td class="bg-color">
								<i class="icon sprite-unsupport"></i>
								支持
							</td>
						</tr>
						<tr>
							<td>
								多平台
								<p class="sub-title">
									与同事、家人共享任务
								</p>
							</td>
							<td class="bg-color">
								<i class="icon sprite-unsupport"></i>
								支持
							</td>
							<td class="bg-color">
								<i class="icon sprite-unsupport"></i>
								支持
							</td>
						</tr>
						<tr>
							<td>
								多平台
								<p class="sub-title">
									与同事、家人共享任务
								</p>
							</td>
							<td class="bg-color">
								<i class="icon sprite-unsupport"></i>
								支持
							</td>
							<td class="bg-color">
								<i class="icon sprite-support"></i>
								支持
							</td>
						</tr>
						<tr class="action">
							<td>
							</td>
							<td>
								<a href="" class="btn">立即注册</a>
							</td>
							<td>
								<a href="" class="btn">立即购买9.9元、月 或则 <span>99元/年</span></a>
							</td>
						</tr>
						<tr class="action">
							<td>
							</td>
							<td>
							</td>
							<td>
								*您可以在购买后14天内申请退款
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<footer>
			<div class="footer-inner">
				<ul class="list-inline">
					<li><a href="">帮助</a></li>
					<li><a href="">博客</a></li>
					<li><a href="">升级到高级版</a></li>
					<li><a href="">联系我们</a></li>
					<li><a href="">隐私声明</a></li>
					<li><a href="">使用条款</a></li>
				</ul>
				<p>
					<span>@ 2014 叶二喽</span>
				</p>
			</div>
		</footer>
	</div>
	<div id="powerTip"></div>
	<script>
		/*
		* 显隐tip
		*/
		(function (golble) {
			var powerTip=document.getElementById('powerTip');
			document.addEventListener("mouseover",powerTipShow,false);

			function powerTipShow (e) {
				e=e||golble.event;
				var target=e.target;
				if(target.getAttribute("data-tipText")){
					powerTip.innerHTML=target.getAttribute("data-tipText");
					var posi=getOffsetToBody(target);
					powerTip.style.display="block";//none下是没有offsetWidth等值的，为0
					powerTip.style.left=posi.left+(-(powerTip.offsetWidth)/2+target.offsetWidth/2)+"px";
					powerTip.style.top=posi.top+target.offsetHeight+10+"px";
					powerTip.style.opacity=1;
					//addEventListener是会添加多个事件处理程序的，所以要把之前添加的先清理掉，或则直接用传统方式
					target.onmouseleave=function (eve) {
						powerTip.style.display="none";
						powerTip.style.opacity=0;
					}
				}
				
			}
			function getOffsetToBody (elem) {
				if(elem.offsetParent==document.body){
					return {
						top:elem.offsetTop,
						left:elem.offsetLeft
					};
				}
				var res={left:0,top:0};
				while(elem.offsetParent!=document.body){
					res.top+=elem.offsetTop;
					res.left+=elem.offsetLeft;
					elem=elem.offsetParent;
				}
				res.top+=elem.offsetTop;
				res.left+=elem.offsetLeft;
				return res;
			}
		})(window);
	</script>
	<!--[if lte IE 6]>
	<script type="text/javascript">
	var ie6_warning_msg1 = "你知道你的 Internet Explorer 浏览器已经过时了吗？";;
	var ie6_warning_msg2 = "建议你升级到较新的版本，或是改用其他的浏览器，以获得更好的使用体验。下面是一份目前广受欢迎的浏览器列表。";;
	var ie6_warning_msg3 = "只要点选图标，就可以连到各自的下载页面。";;
	</script>
	<script src="https://ticktick.com/static/build/misc/ie6/warning.js"></script>
	<script>window.onload=function(){e("/static/build/misc/ie6/")}</script>
	<![endif]-->
</body>
</html>